
body {
    background-image: url('/wallpaperNam.jpg');
    height: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    white-space: unset;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    font-family: Arial;
}


.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: rgb(255, 0, 0);
}

.nao:hover {
    background-color: rgb(0, 0, 0);
}

.sim:hover {
    padding: 10.5px 20.5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}